# content management system variables
AUTH_TOKEN=
NEXT_PUBLIC_CONTENT_API=
NEXT_PUBLIC_HIGH_PERFORMANCE_CONTENT_API=

# recaptcha variables
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# cloudinary variables
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# urls
NEXT_PUBLIC_DEVELOPMENT_URL=
NEXT_PUBLIC_PRODUCTION_URL=

# resend email variables
RESEND_API_KEY=

# open weather variables
OPENWEATHER_API_KEY=
NEXT_PUBLIC_LATITUDE=
NEXT_PUBLIC_LONGITUDE=
NEXT_PUBLIC_LANGUAGE=
NEXT_PUBLIC_UNITS=